/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
/*Common styles */
 @import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #db8734;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-left: 654px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button{
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background: #4e75ff;
border: 1px solid #808080;
}
button:hover{
  background: #6c8cff;
}
input{
  border-radius: 4px;
width: 272px;
height: 40px;
border: 1px solid #808080;
margin-bottom: 24px;
}
input:hover{
  border: 1px solid #000;
}
section{
  margin-left: 156px;
  margin-right: 156px;
}
#form {
  display: flex;
  margin-left: 534px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px; 
  list-style: none;
  padding: 0;
}

.gallery-item {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 360px;
  height: 200px;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 160px;
display: block;
}
.info {
  display: flex;
  gap: 13px;
}
.info p{
  display: inline-block;
  font-size: small;
}
.hidden {
  display: none;
}
.load-more{
  margin-left: 604px;
  width: 120px;
}

  